
<div class="box">
  <img src="data:image/png;base64,{{image.image}}">
  <span *ngIf='!isEditmode'>{{image.description}}
    <button type="button" class="button" (click)="onDelete(image._id)">
        <span class="glyphicon glyphicon-trash"></span> 
      </button>
      <button type="button" class="button" (click)="onEdit(image._id)">
        <span class="glyphicon glyphicon-pencil"></span> 
      </button>
  </span>
  <span *ngIf='isEditmode'>
    <input #box [(ngModel)]='image.description' type='text'>
      <button type="button" class="button" (click)="onCancel()">
        <span class="glyphicon glyphicon-remove"></span> 
      </button>
      <button type="button" class="button" (click)="onSave(image._id,box.value)">
        <span class="glyphicon glyphicon-floppy-disk"></span> 
      </button>
  </span>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
