<form [formGroup]="uploadImageForm" class="row" style="margin: 5px;">
    <h1 class="h1">Upload New Image</h1>
    <div class="col-lg-12">
      <div class="input-group">
        <input type="text"
         class="form-control"
         formControlName="description"
         [(ngModel)]="description"
         placeholder="Add image description">
        <span class="input-group-btn">
          <button mat-raised-button color="accent" (click)="onUpload(description)" type="button" [disabled]="uploadImageForm.invalid">Upload</button>
        </span>
      </div>
    </div>
</form>

<app-drag-and-drop (fileAdded)="onFileAdded($event)"></app-drag-and-drop>

<div *ngIf="!uploadImageForm.controls.description.valid && uploadImageForm.controls.description.dirty" class="alert alert-danger">
  <p>Description is required.</p>
</div>

<div class="alert alert-danger" *ngIf="error">
  <h1>An Error Occurred!</h1>
  <p>{{ error }}</p>
</div>

<div *ngIf="uploadMessageStatus" class="alert alert-success" role="alert">
 <p>{{uploadMessageStatus}}
</p>
</div>

  

